.login {
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginError {
  color: red;
  font-size: 14px;
}

.loginWrapper {
  width: 80%;
  height: 80%;
  display: flex;
}

.loginBoxTitle {
  font-size: 30px;
  font-weight: 700;
  color: #1775ee;
  margin: 5px 0 20px;
  text-align: center;
}

.loginLeft,
.loginRight {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

.loginDesc {
  font-size: 24px;
}

.loginBox {
  height: 400px;
  padding: 20px;
  position: relative;
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 8px rgba(165, 153, 153, 0.3);
}
.loginBox:after {  
  content: "";
  height: 150px;
  width: 1px;  
  position: absolute;  
  left: -1px;
  top: calc(50% - 35px);
  transition: top, opacity;
  transition-duration: 600ms;
  transition-timing-function: ease;
  background: linear-gradient(
    transparent,
    #ff170a,
    transparent
  );
  opacity: 0;
}

.loginBox:hover:after {
  top: calc(50% - 70px);
  opacity: 1;
}

.loginBox
:hover:after {
  top: 25%;
  opacity: 1;
}


.loginInput {
  height: 55px;
  margin: 12px 0;
  padding: 0 20px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 18px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.loginForgot {
  text-align: center;
  color: #1775ee;
  margin-bottom: 10px;
}

.loginRegisterButton {
  width: 60%;
  height: 35px;
  margin-top: 10px;
  align-self: center;
  border-radius: 10px;
  border: none;
  background-color: #42b72a;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
