.profimgcomment {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

.commentitemsname {
  padding-left: 10px;
  cursor: pointer;
}

.commentitemsname2 {
  padding-left: 10px;
  font-size: 0.75rem;
}

.commenttext {
  display: flex;
  flex-direction: row;
}

.commenttextptag {
  margin-top: 0.5rem;
}
