.postrightsidetop {
  margin-left: 10px;
  transform: translateY(20%);
}

.postimageleft {
  height: 37px;
  width: 37px;
  border-radius: 30px;
}

.posttopbar {
  display: flex;
  flex-direction: row;
}

.postbottombar {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

.postleftsidetop {
  cursor: pointer;
}

.postrighttime {
  margin-left: 15px;
  font-size: 0.85rem;
  transform: translateY(25%);
}

.likerighttime {
  margin-left: 10px;
  font-size: 0.85rem;
}

.assets {
  display: flex;
  flex-direction: row;
}

.containasset {
  display: flex;
  flex-direction: row;
}

.comment {
  display: flex;
  margin-left: 1rem;
  margin-top: 1.5rem;
}

.postimage {
  display: flex;
  justify-content: center;
}

.postimagecon {
  padding: 2px;
  width: 100%;
  max-height: 45rem;
}

.fa-thumbs-up {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

.fa-comment {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

.commentboxx {
  border-top: 1px solid #adadad;
  padding-top: 20px;
}

.commentitems {
  list-style: none;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid #adadad;
}

.addcomment,
.addcommenthere {
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.addcommenthere {
  border-bottom: 1px solid #adadad;
  margin-bottom: 25px;
}

.adcom {
  padding: 10px;
  width: 20rem;
  border: none;
  /* border-bottom: 1px solid #adadad; */
}

.hereee {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

textarea:focus,
input:focus {
  outline: none;
}

.addcombutt {
  padding: 5px 15px;
  border: none;
  background-color: white;
  color: rgb(0, 213, 255);
  font-size: 1rem;
}
