::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #adadad;
}

.right {
  flex: 3;
  margin: 0.4rem;
  margin-bottom: 2rem;
  width: 50%;
}

.righttop {
  display: flex;
  flex-direction: column;
}

.rightbottom {
  height: 42vh;
  overflow-y: scroll;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-top: 3rem;
}

.firstt {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.firsttleft {
  margin-top: 1rem;
}

.firsttright {
  margin-left: 1rem;
  transform: translateY(20%);
}

.firsttleftimg {
  height: 4rem;
  width: 4rem;
}

.rightimgtop {
  height: 18rem;
  width: 100%;
  border-radius: 15px;
  margin-top: 2rem;
}

.rightitems {
  list-style: none;
  margin-bottom: 10px;
}

.onlinefr {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 1.25rem;
  border-bottom: 1px solid #adadad;
}

.rightitemsname2 {
  padding-left: 10px;
  cursor: pointer;
}

.onli {
  position: relative;
  background-color: #66ff00;
  border: 1px solid white;
  height: 13px;
  width: 13px;
  border-radius: 30px;
  left: 25px;
  top: 40px;
}
