.topbarContainer {
  height: 69px;
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

/* .fa-magnifying-glass {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
} */

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.topbarLeft {
  flex: 3;
}

.topbarCenter {
  flex: 5;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.searchbar {
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.fa-magnifying-glass {
  font-size: 20px !important;
  padding-left: 10;
}

.fa-right-from-bracket {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}

.topbarLink {
  margin-right: 10px;
  font-size: 1.15rem;
  cursor: pointer;
  color: white;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.fa-user {
  font-size: 1.5rem;
}

.fa-bell {
  font-size: 1.5rem;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.darkmode{
  display: flex;
  justify-content: center;
}

#darkmode .dark {
  background-color: #292c35;
}
#darkmode .checkbox {
  opacity: 0;
  position: absolute;
}

#darkmode .label {
  width: 48px;
  height: 23px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
}

#darkmode .ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

#darkmode .checkbox:checked + .label .ball{
  transform: translateX(24px);
}
